.main{
  margin-left:500px;
  margin-right:500px;
  height:60px;
  width:120px;

}
.upper{
  margin-top:50px;
}
.lower{
  margin-top:50px;
}
.inner{
  background-color:rgba(56, 40, 40,0.7);
  margin-top:120px;
  border-radius: 6%
}
.low{
  margin-top:45px;
  margin-bottom: 50px;
  width:130px;
}
